
  <div class="add-update-container">
    <h1>User Form</h1>

    <form (ngSubmit)="save()" action="" method="get" class="form-example">
      <svg xmlns="http://www.w3.org/2000/svg" (click)="exit()" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
      <div class="form-email">
        <label for="email">Enter email: </label>
        <input type="email" [disabled]="isEdit" name="email"  title="at least 1 char ,at most 10 chars" id="email" placeholder="type here for email" [(ngModel)]="userDTO.email" required />
      </div>
      <div class="form-first-name">
        <label for="firstName">Enter first Name: </label>
        <input type="text" name="firstName" id="firstName"  title="at least 1 char ,at most 10 chars" placeholder="type here for first name" [(ngModel)]="userDTO.firstName" required />
      </div>
      <div class="form-last-name">
        <label for="lastName">Enter last Name: </label>
        <input type="text" name="lastName" id="lastName"  title="at least 1 char ,at most 10 chars" placeholder="type here for last name" [(ngModel)]="userDTO.lastName" required />
      </div>
      <div class="form-password">
        <label for="password">Enter password: </label>
        <input type="password" name="password" id="password"  title="at least 1 char ,at most 10 chars" placeholder="type here for password" [(ngModel)]="userDTO.password" required />
      </div>
      <div class="drop-menu">
        <label>Select Role: </label>
        <select (change)="changeRole($event)">
            <option *ngFor="let item of items" [value]="item">
              {{item}}</option>
        </select>
      </div>
      <div class="form-button">
        <app-button [text]="buttonText" ></app-button>
      </div>
    </form>

  </div>

